.app {
	color: $dark;
}

.app-header {
	background-color: $highlight;
	color: white;
}

.app-header  {
	h1 {
		margin: 0;
	}
}

.comments {
	.font-lg {
		font-size: 1em;
	}
	.nested-diplpay-n {
		display: none;
	}
}

.single-post {

	.nested-diplpay-n {
		display: none;
	}
}

.post-user {
	line-height: $l;
	display: inline-block;
}

.sidebar {
	width: 20%;
	margin-right: 2%;
}

.mainbar, .single-content {
	width: 78%;
}

.single-avatar {
	width: 10%;
	margin-right: 2%;
	img {
		width: 100%;
	}
}

.single-content {
	width: 88%;
}

.faved {
	.fav-svg {
		fill: $highlight;
	}
}

.nahed {
	.nah-svg {
		fill: $dark;
	}
	.margin-t-s {
		margin: 0;
	}
	.nah-none {
		display: none;
	}
	.padding-m {
		padding: $xxs $m;
	}
	.single-content {
		width: 100%
	}
}