.app {
	color: $dark;
}

.app-header {
	background-color: $highlight;
	color: white;
}

.app-header  {
	h1 {
		margin: 0;
	}
}


.single-post-page {
	.single-none {
		display: none;
	}
	.feed {
		.font-lg {
			font-size: 1.2em;
		}
	}
}

.comments {

	.font-lg {
		font-size: 1em;
	}
}

.post-user {
	line-height: $l;
	display: inline-block;
}

.faved {
	.fav-svg {
		fill: $highlight;
	}
}

.nahed {
	.nah-svg {
		fill: $dark;
	}
	.margin-t-s {
		margin: 0;
	}
	.nah-none {
		display: none;
	}
	.padding-m {
		padding: $xxs $m;
	}
}