// the basic grid
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: $m;
	grid-row-gap: 0;
}

// grid elements
.grid--full-width {
	grid-column-start: 1;
	grid-column-end: 13;
}

.grid--l {
	grid-column-start: 1;
	grid-column-end: 3;
}

.grid--r {
	grid-column-start: 3;
	grid-column-end: 13;
}

.grid--last-3 {
	grid-column-start: 10; 
	grid-column-end: 11;
	justify-self: end;
}

.grid--last-2 {
	grid-column-start: 11; 
	grid-column-end: 12;
	justify-self: end;
}

.grid--last {
	grid-column-start: 12; 
	grid-column-end: 13;
	justify-self: end;
}

.grid--center, .grid--avatar {
	align-self: center;
}

// grid modifiers
.feed-node.grid {
	display: grid;
	grid-template-columns: 35px 150px repeat(7, 1fr) repeat(3, 45px);
	grid-column-gap: 0;
	grid-row-gap: $m;
}

.single-post-page.grid {
	grid-row-gap: 0;
}

.add-post-form {
	.grid--l {
		grid-column-start: 1;
		grid-column-end: 12;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.grid--r {
		grid-column-start: 12;
		grid-column-end: 13;
		grid-row-start: 3;
		grid-row-end: 4;
	}
}

.single-post {
	.feed-node.grid {
		display: grid;
		grid-template-columns: repeat(10, 1fr) repeat(2, 45px);;
		grid-column-gap: 0;
		grid-row-gap: 0;
		.grid--avatar {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
			align-self: auto;
			img {
					display: block;
					width: 80%;
					height: auto;
					max-width: none;
	    			max-height: none;
				}
		}
		.grid--avatar.height-ml {
			height: 100%;
			width: 100%;
		}
		.grid--full-width {
			grid-column-start: 3;
			grid-column-end: 13;
		}
	}
}