.grid-1 {
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-column-gap: 20px;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.grid-3 {
	display: grid;
	grid-template-columns: 35px 150px repeat(7, 1fr) repeat(3, 45px);
	grid-row-gap: 10px;
	grid-template-rows: minmax(50px, 1fr);
}

.grid-full {
	grid-column-start: 1;
	grid-column-end: 13;

}

.grid-part {
	grid-column-start: 3; 
	grid-column-end: 13;
}

.grid-l {
	grid-column-start: 1; 
	grid-column-end: 11;
	grid-row-start: 1; 
	grid-row-end: 3;
}

.grid-sm {
	grid-column-start: 11; 
	grid-column-end: 13;
	grid-row-start: 2; 
	grid-rwo-end: 3;
}


.grid-last-3 {
	grid-column-start: 10; 
	grid-column-end: 11;
	justify-self: end;
}

.grid-last-2 {
	grid-column-start: 11; 
	grid-column-end: 12;
	justify-self: end;
}

.grid-last {
	grid-column-start: 12; 
	grid-column-end: 13;
	justify-self: end;
}

.grid-center {
	align-self: center;
}

.grid-contents {
	display: contents;
}

.single-post {
	.grid-s {
		grid-template-columns: 155px repeat(8, 1fr) repeat(3, 45px);
		.grid-chunk {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
			img {
				display: block;
				width: 82%;
				height: auto;
				max-width: none;
    			max-height: none;
			}
		}
		.grid-full {
			grid-column-start: 2;
			grid-column-end: 13;

		}
		.grid-chunk.height-ml {
			height: auto;
		}
		.grid-center {
			align-self: end;
		}
	}
}

