@media (max-width: 960px) {
	
	.grid--r {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.grid--r.grid--r__mobile-75 {
		grid-column-start: 3;
		grid-column-end: 13;
	}

	.home.grid {
		grid-column-gap: 0;
		.add-post.padding-m {
			padding: $m $m $m 0;
		}
	}

}

@media (max-width: 480px) {

	.grid--r.grid--r__mobile-75 {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.grid--l.grid--l__mobile-0 {
		display: none;
	}

	.home.grid {
		grid-column-gap: 0;
		.add-post.padding-m {
			padding: $m;
		}
	}

}